@import "tailwindcss";
/* @import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&family=Cairo:wght@200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap'); */

body{
    font-family: "Cairo", sans-serif;
    background-color: #ffff;
-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}


@theme{
    --color-title:#249643;
    --font-RobotoCondensed: 'Roboto Condensed', sans-serif;
}